<div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card mt-5">
          <div class="card-body">
              <h3 class="lead text-center">Login</h3>
              <hr>
              <form action="/signin" method="POST">
                   <div class="form-group">
                      <input type="text" name="email" class="form-control" placeholder="email" autofocus>
                  </div>
                   <div class="form-group">
                      <input type="password" name="password" class="form-control" placeholder="password" autofocus>
                  </div>
                  <button class="btn btn-success">Login</button>
              </form>
          </div>
      </div>
    </div>
</div>